<td-layout class="layout-card-over-demo" sidenavWidth="280px">
  <td-layout-nav toolbarTitle="JSON-LD Dynamic UI Mess-around">
    <div td-toolbar-content>
      <app-theme-toggle [(value)]="activeTheme"></app-theme-toggle>
    </div>

    <td-layout-card-over>
      <app-resource-form
        [activeTheme]="activeTheme"
        [formValue]="initialResource"
        (submitted)="displayResource($event)"
      ></app-resource-form>
      <div td-after-card>
        <mat-progress-bar
          *ngIf="loading$ | async"
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>

        <mat-tab-group mat-align-tabs="center" selectedIndex="2">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>code</mat-icon>
              Compacted (default)
            </ng-template>
            <ng-template matTabContent>
              <td-json-formatter
                *ngIf="compacted$ | async as data"
                class="on-background"
                [data]="data"
                key="Compacted JSON"
                [levelsOpen]="2"
              >
              </td-json-formatter>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>code</mat-icon>
              Expanded
            </ng-template>
            <ng-template matTabContent>
              <td-json-formatter
                *ngIf="expanded$ | async | extractJsonLdObject as data"
                class="on-background"
                [data]="data"
                key="Expanded JSON"
                [levelsOpen]="3"
              >
              </td-json-formatter>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>menu_book</mat-icon>
              View
            </ng-template>
            <ng-template matTabContent>
              <app-generic-resource-viewer
                [json]="expanded$ | async | extractJsonLdObject"
              ></app-generic-resource-viewer>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>edit</mat-icon>
              Edit
            </ng-template>
            <ng-template matTabContent><p>Coming soon...</p></ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </td-layout-card-over>
  </td-layout-nav>
</td-layout>
