app-root {
  [td-toolbar-content] {
    margin-left: auto;
  }

  .td-layout-card-over .mat-card {
    z-index: 100;
  }

  [td-after-card] {
    mat-progress-bar {
      position: absolute;
      left: 0;
      top: 64px;
      z-index: 10;
    }
  }

  .mat-tab-link .mat-icon {
    margin-right: 8px;
  }
}
