<ng-container *ngIf="property">
  <h3 class="property-name">
    <ng-container *ngIf="loadingPropertyMetadata$ | async; else loaded">...</ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="propertyMetadata$ | async as meta; else noMeta">
        <ng-container *ngIf="meta | hasProperty: 'name'; else noMeta">{{ meta.name }}</ng-container>
        <span *ngIf="meta | hasProperty: 'description'" class="property-description">- {{ meta.description }}</span>
      </ng-container>
      <ng-template #noMeta>{{ property.iri | fallbackPropName | titlecase }}</ng-template>
    </ng-template>
    <button mat-icon-button class="expand-button" (click)="expanded = !expanded">
      <mat-icon>{{ expanded ? 'expand_more' : 'expand_less' }}</mat-icon>
    </button>
  </h3>
  <div [class.hide]="!expanded">
    <ng-container *ngIf="property.value | isArray; else notArray">
      <ng-container *ngFor="let prop of $any(property.value); trackBy: _trackByPropertyType">
        <ng-container *ngIf="prop['@id']; else values">
          <app-generic-resource-viewer [json]="$any(prop)" [depth]="depth + 1"></app-generic-resource-viewer>
        </ng-container>
        <ng-template #values>
          <mat-list>
            <mat-list-item *ngIf="prop['@value']">
              <p matLine>
                {{ prop['@value'] }}
                <span *ngIf="prop['@language']">[{{ prop['@language'] }}]</span>
              </p>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-template #notArray>
      <!-- TODO -->
      <p class="mat-caption">UNHANDLED CASE</p>
      <td-json-formatter class="on-background" [data]="property.value" [levelsOpen]="1"></td-json-formatter>
    </ng-template>
  </div>
</ng-container>
